In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pickle

In [3]:
data = pd.read_csv("Churn_Modelling.csv")
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [4]:
## preprocesss the data
### Drop irrevelant columns
data=data.drop(columns=["RowNumber","CustomerId","Surname"],axis=1)
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [5]:
## Encode Categorical Variables
le =LabelEncoder()
data["Gender"]=le.fit_transform(data["Gender"])

In [7]:

# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [8]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [9]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [10]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [11]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [13]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(le, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

#### ANN Regression Problem statement

In [14]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [15]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

c:\Users\vigna\Desktop\DLPROJECT1\venv\Lib\site-packages\keras\src\layers\core\dense.py:95: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [16]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [17]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [18]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - loss: 100400.7656 - mae: 100400.7656 - val_loss: 98596.6953 - val_mae: 98596.6953
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 99883.7891 - mae: 99883.7891 - val_loss: 97519.6172 - val_mae: 97519.6172
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 97969.1328 - mae: 97969.1328 - val_loss: 94671.8750 - val_mae: 94671.8750
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 94077.8438 - mae: 94077.8438 - val_loss: 89727.1719 - val_mae: 89727.1719
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 88168.6641 - mae: 88168.6641 - val_loss: 82976.7500 - val_mae: 82976.7500
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 80711.9141 - mae: 80711.9141 - val_loss: 75176.6953 - val_mae: 75176.6953
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 72683.6172 - mae: 72683.6172 - val_loss: 67491.8984 - val_mae: 67491.8984
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 65119.0938 - mae: 65119.0938 - val_loss: 60775.7070 - val_mae: 60775.7070
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 59040.1289 - mae: 59040.1289 - val_loss: 55853.5938 - val_mae: 55853.5938
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 54888.0469 - mae: 54888.0469 - val_loss: 52874.7969 - val_mae: 52874.7969
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 52388.4453 - mae: 52388.4453 - val_loss: 51316.2227 - val_mae: 51316.2227
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51123.2305 - mae: 51123.2305 - val_loss: 50703.8672 - val_mae: 50703.8672
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50546.4297 - mae: 50546.4297 - val_loss: 50465.7852 - val_mae: 50465.7852
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50290.9453 - mae: 50290.9453 - val_loss: 50387.4570 - val_mae: 50387.4570
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50161.2539 - mae: 50161.2539 - val_loss: 50346.6836 - val_mae: 50346.6836
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50083.5117 - mae: 50083.5117 - val_loss: 50323.4648 - val_mae: 50323.4648
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50026.9375 - mae: 50026.9375 - val_loss: 50300.3750 - val_mae: 50300.3750
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49982.8320 - mae: 49982.8320 - val_loss: 50286.6094 - val_mae: 50286.6094
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49945.8398 - mae: 49945.8398 - val_loss: 50280.5156 - val_mae: 50280.5156
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49910.6094 - mae: 49910.6094 - val_loss: 50279.8750 - val_mae: 50279.8750
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49883.8828 - mae: 49883.8828 - val_loss: 50264.8984 - val_mae: 50264.8984
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49859.3320 - mae: 49859.3320 - val_loss: 50261.8438 - val_mae: 50261.8438
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49833.4414 - mae: 49833.4414 - val_loss: 50248.8867 - val_mae: 50248.8867
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49815.9219 - mae: 49815.9219 - val_loss: 50252.6758 - val_mae: 50252.6758
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49797.8789 - mae: 49797.8789 - val_loss: 50242.9609 - val_mae: 50242.9609
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49778.1719 - mae: 49778.1719 - val_loss: 50240.9883 - val_mae: 50240.9883
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49759.6016 - mae: 49759.6016 - val_loss: 50231.4219 - val_mae: 50231.4219
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49744.5664 - mae: 49744.5664 - val_loss: 50229.5508 - val_mae: 50229.5508
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49731.2734 - mae: 49731.2734 - val_loss: 50222.3242 - val_mae: 50222.3242
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49716.1914 - mae: 49716.1914 - val_loss: 50222.6211 - val_mae: 50222.6211
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49702.3750 - mae: 49702.3750 - val_loss: 50213.5117 - val_mae: 50213.5117
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49692.0430 - mae: 49692.0430 - val_loss: 50212.0469 - val_mae: 50212.0469
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49682.1211 - mae: 49682.1211 - val_loss: 50213.4297 - val_mae: 50213.4297
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49669.4414 - mae: 49669.4414 - val_loss: 50216.1172 - val_mae: 50216.1172
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49659.8984 - mae: 49659.8984 - val_loss: 50217.4570 - val_mae: 50217.4570
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49649.8750 - mae: 49649.8750 - val_loss: 50205.1914 - val_mae: 50205.1914
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49644.5781 - mae: 49644.5781 - val_loss: 50202.7930 - val_mae: 50202.7930
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49634.4453 - mae: 49634.4453 - val_loss: 50198.2773 - val_mae: 50198.2773
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49625.1367 - mae: 49625.1367 - val_loss: 50201.2109 - val_mae: 50201.2109
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49621.3438 - mae: 49621.3438 - val_loss: 50198.1680 - val_mae: 50198.1680
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49611.4453 - mae: 49611.4453 - val_loss: 50198.9258 - val_mae: 50198.9258
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49602.4453 - mae: 49602.4453 - val_loss: 50190.4219 - val_mae: 50190.4219
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49594.3320 - mae: 49594.3320 - val_loss: 50205.4062 - val_mae: 50205.4062
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49588.0742 - mae: 49588.0742 - val_loss: 50201.5508 - val_mae: 50201.5508
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49580.5234 - mae: 49580.5234 - val_loss: 50198.6406 - val_mae: 50198.6406
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49571.7422 - mae: 49571.7422 - val_loss: 50202.1562 - val_mae: 50202.1562
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49563.3516 - mae: 49563.3516 - val_loss: 50202.8438 - val_mae: 50202.8438
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49557.8164 - mae: 49557.8164 - val_loss: 50200.9805 - val_mae: 50200.9805
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49553.5625 - mae: 49553.5625 - val_loss: 50193.4492 - val_mae: 50193.4492
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49543.9297 - mae: 49543.9297 - val_loss: 50199.1562 - val_mae: 50199.1562
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49537.6016 - mae: 49537.6016 - val_loss: 50196.0664 - val_mae: 50196.0664
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49532.4688 - mae: 49532.4688 - val_loss: 50203.9883 - val_mae: 50203.9883

In [19]:
%load_ext tensorboard

In [24]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 27784), started 0:07:22 ago. (Use '!kill 27784' to kill it.)

In [21]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50190.4219 - mae: 50190.4219
Test MAE : 50190.421875

In [22]:
model.save('regression_model.keras')